MvcContractorShareApplication/Service References/ContractorShareServiceReference/ContractorShare.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://contractorshare.apphb.com/ContractorShare.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" />
  <xs:import schemaLocation="http://contractorshare.apphb.com/ContractorShare.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ContractorShareService" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="loginInfo" nillable="true" type="q1:LoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="LoginResult" nillable="true" type="q2:AuthenticationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="registerinfo" nillable="true" type="q3:RegisterInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="RegisterResult" nillable="true" type="q4:AuthenticationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="resetpasswordinfo" nillable="true" type="q5:ResetPasswordInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="ResetPasswordResult" nillable="true" type="q6:ResetPasswordResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="changepasswordinfo" nillable="true" type="q7:ChangePasswordInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePreferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="changepreferencesinfo" nillable="true" type="q8:ChangePreferencesInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePreferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePreferencesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetPreferencesResult" nillable="true" type="q9:PreferencesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchContractors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PricePerHour" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchContractorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="SearchContractorsResult" nillable="true" type="q10:ArrayOfContractorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAverageRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAverageRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserAverageRatingResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="userprofile" nillable="true" type="q11:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserProfileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetUserProfileResult" nillable="true" type="q12:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFavourite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFavouriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFavouriteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFavourite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="favouriteUserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFavouriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveFavouriteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFavourites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFavouritesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ContractorShareService" minOccurs="0" name="GetUserFavouritesResult" nillable="true" type="q13:ArrayOfUserFavourite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserIsFavourite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromuserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserIsFavouriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserIsFavouriteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDenunce">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToUser" type="xs:int" />
        <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BlockUser" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDenunceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDenunceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="BlockUserResult" nillable="true" type="q14:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserIsBlocked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromuserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserIsBlockedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserIsBlockedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="jobRequest" nillable="true" type="q15:JobInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateServiceRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateServiceRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="jobRequest" nillable="true" type="q16:JobInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="EditJobResult" nillable="true" type="q17:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetServiceRequestResult" nillable="true" type="q18:JobInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyCurrentServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyCurrentServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetMyCurrentServicesResult" nillable="true" type="q19:ArrayOfJobInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyCompletedServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyCompletedServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetMyCompletedServicesResult" nillable="true" type="q20:ArrayOfJobInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenServicesAssignedToMe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenServicesAssignedToMeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetOpenServicesAssignedToMeResult" nillable="true" type="q21:ArrayOfJobInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosedServicesAssignedToMe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosedServicesAssignedToMeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetClosedServicesAssignedToMeResult" nillable="true" type="q22:ArrayOfJobInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJobComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="jobcommentinfo" nillable="true" type="q23:CommentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddJobCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="AddJobCommentResult" nillable="true" type="q24:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetJobCommentsResult" nillable="true" type="q25:ArrayOfCommentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobCommentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="DeleteJobCommentResult" nillable="true" type="q26:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeServiceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeServiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="ChangeServiceStatusResult" nillable="true" type="q27:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="SearchServicesResult" nillable="true" type="q28:ArrayOfJobInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServiceRateResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="proposal" nillable="true" type="q29:ProposalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProposalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="CreateProposalResult" nillable="true" type="q30:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetProposalResult" nillable="true" type="q31:ProposalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposalId" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="proposalinfo" nillable="true" type="q32:ProposalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProposalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="EditProposalResult" nillable="true" type="q33:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProposalStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposalId" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="info" nillable="true" type="q34:UpdateProposalStatusInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProposalStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="UpdateProposalStatusResult" nillable="true" type="q35:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveProposals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeFromMe" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveProposalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetActiveProposalsResult" nillable="true" type="q36:ArrayOfProposalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyClosedProposals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyClosedProposalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetMyClosedProposalsResult" nillable="true" type="q37:ArrayOfProposalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendProposalMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposalId" nillable="true" type="xs:string" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="proposalmessageInfo" nillable="true" type="q38:MessageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendProposalMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="SendProposalMessageResult" nillable="true" type="q39:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetProposalMessagesResult" nillable="true" type="q40:ArrayOfMessageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="DeleteMessageResult" nillable="true" type="q41:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveAppointments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveAppointmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetActiveAppointmentsResult" nillable="true" type="q42:ArrayOfAppointmentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosedAppointments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosedAppointmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetClosedAppointmentsResult" nillable="true" type="q43:ArrayOfAppointmentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetAppointmentResult" nillable="true" type="q44:AppointmentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="CloseAppointmentResult" nillable="true" type="q45:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="CancelAppointmentResult" nillable="true" type="q46:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="taskinfo" nillable="true" type="q47:TaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="CreateTaskResult" nillable="true" type="q48:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="taskinfo" nillable="true" type="q49:TaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="EditTaskResult" nillable="true" type="q50:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetTaskResult" nillable="true" type="q51:TaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaskStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaskStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="ChangeTaskStatusResult" nillable="true" type="q52:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="DeleteTaskResult" nillable="true" type="q53:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetJobTasksResult" nillable="true" type="q54:ArrayOfTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="rateinfo" nillable="true" type="q55:Rate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="AddRatingResult" nillable="true" type="q56:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetUserRatesResult" nillable="true" type="q57:ArrayOfRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RateId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="DeleteRatingResult" nillable="true" type="q58:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobRateInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobRateInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/ContractorShareService.Domain" minOccurs="0" name="GetJobRateInfoListResult" nillable="true" type="q59:ArrayOfJobRateInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>